SPRING_PROFILES_ACTIVE=prod
CARDSYNC_ISSUER=https://api.cardsync.com.br
CARDSYNC_PUBLIC_BASE_URL=https://api.cardsync.com.br
CARDSYNC_SPA_BASE_URL=https://cardsync.com.br
CARDSYNC_ALLOWED_ORIGIN_1=https://cardsync.com.br
CARDSYNC_LOGIN_DEFAULT_TARGET=https://cardsync.com.br/
CARDSYNC_BFF_CLIENT_ID=cardsync-bff
CARDSYNC_BFF_CLIENT_SECRET=change-me
CARDSYNC_BFF_REDIRECT_URI_PROD=https://api.cardsync.com.br/login/oauth2/code/cardsync-bff
CARDSYNC_POST_LOGOUT_REDIRECT_URI_1=https://cardsync.com.br/
CARDSYNC_RESOURCE_SERVER_AUDIENCE=cardsync-api
CARDSYNC_COOKIE_SECURE=true
CARDSYNC_COOKIE_SAMESITE=Lax
MAIL_HOST=
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=true
MAIL_SMTP_SSL=true
MAIL_SMTP_STARTTLS=false
SPRING_DATASOURCE_URL=jdbc:mysql://<MYSQL_HOST>:<MYSQL_PORT>/<MYSQL_DATABASE>?createDatabaseIfNotExist=true&serverTimezone=UTC&useSSL=true&requireSSL=true
SPRING_DATASOURCE_USERNAME=<MYSQL_USER>
SPRING_DATASOURCE_PASSWORD=<MYSQL_PASSWORD>
JAVA_OPTS=-XX:MaxRAMPercentage=75 -XX:+UseContainerSupport
